/* contact */

body {
    background-color: #79aad438;
}

.container {
    padding: 22px;
}

.contact {
    color: black;
    padding: 4px;
}

.title {
    color: rgb(170, 73, 73);
    border: 1px blue dotted;
    background-color: #2f74f3;
}

.image {
    height: 60%;
    width: 30%;
}