/* contact */

body {
    background-color: #79aad438;
}

.container {
    padding: 22px;
}

.contact {
    color: black;
    padding: 4px;
}

.title {
    color: blue;
    border: 1px blue dotted;
}

.image {
    height: 60%;
    width: 30%;
}